body{
    /* display : flex; */
    /* justify-content : center; */
    /* align-items : center; */
    /* font-family :Verdana, Geneva, Tahoma, sans-serif  ; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.td-div-para{
    max-width: 300px;
    
}
/* *{
    margin : 0px;
    padding : 0px;
} */
.main-container{
    display : flex;
    flex-direction : column;
    border : 2px solid black;
    /* width : 100%;   */
    width: auto;
    /* height : 1126px; */
    height : auto;
    padding : 30px;
    box-shadow : 7px 8px 6px 3px grey; 
    margin : 20px;
}
@media screen and (min-width : 1275px) and (max-width : 1540px ){
    .td-div p{
        font-size : 20px;
    }
    
}
@media screen and (min-width : 800px) and (max-width : 1275px ){
    .td-div p{
        font-size : 22px !important;
    }

    .box-headings{
        font-size : 25px !important;
        font-weight : 800;
    }
}
@media screen and (max-width : 800px ){
    .td-div p{
        font-size : 16px !important;
    }
    .inner-head-para{
        font-size : 30px !important;
    }
    .inner-para{
        font-size : 20px !important;
    }
    .box-headings{
        font-size : 20px !important;
        font-weight : 800;
    }
    .top-image{
        margin-left : 100px !important;
    }
    
}

.header{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    border : 2px solid black;
}

.inner-head-para{
    text-align: center;
    font-weight: 500;
    font-size : 40px;
    font-family :Verdana, Geneva, Tahoma, sans-serif  ;
    /* margin : 28px;   */
    
}
.head-inner{
    display : flex;
    align-items : center;
    justify-content: center;
    font-family :Verdana, Geneva, Tahoma, sans-serif  ;

}



.inner-para{
    font-weight : 500;
    font-size  : 40px;
}

.top-image{
    background-image : url('Image1.png');
    width : 285px;  
    height : 200px;
    background-position: center;
    border : 2px solid black;
}

.top-image , .inner-para{
    margin : 15px 60px 60px 60px;
}


/* Mid section Table */

.mid-title{
    margin : 20px 0px;
}


.td-div{
    display : flex;
    flex-direction : column;
    align-items: center ;
    /* justify-content : center; */
    border : 2px solid black;
    /* width: 450px; */
    height : 250px;
    /* height : auto; */
    margin-left : 20px;
    margin-top : 5px;
    margin-bottom : 20px;
    /* width : 400px; 
    height : 200px; */
}
.td-div h2{
    margin : 12px;
    font-size : 36px;   
}

.td-div p{
    text-align: center;
    font-size : 30px;
}

.mid-table{
    border : 2px solid black;
    width: 100%;
    padding-left : 10px;
    padding-bottom : 15px;
    margin-top : 15px;
}
.section{
    display: flex;
}
.r1-l1 , .r1-l2{
    position : relative;
    left : -10px;
}

.footer{
    border : 2px solid black;
    display : flex;
    align-items: center;
    justify-content: center;
    height : 110px;
    margin-top : 20px;
}
.footer h1{
    font-size : 40px;
    font-weight: 500;
}
